<div id="sign-up-container" class="container w-25 border py-5">
  <h2>Sign Up</h2>

  <form class="form signup-form">
    <div class="signup-form-group">
      <label for="first-name-signup">First Name:</label>
      <input class="form-input" type="text" id="first-name-signup" />
    </div>
    <div class="signup-form-group">
      <label for="last-name-signup">Last Name:</label>
      <input class="form-input" type="text" id="last-name-signup" />
    </div>
    <div class="signup-form-group">
      <label for="email-signup">Email:</label>
      <input class="form-input" type="text" id="email-signup" />
    </div>
    <div class="signup-form-group">
      <label for="password-signup">Password:</label>
      <input class="form-input" type="password" id="password-signup" />
    </div>

 
    <div>
      <div id="missing-fields" class="alert alert-danger d-none" role="alert"></div>
    </div>

    <div class="form-group m-2 center">

      <button type='submit' class='btn btn-success1 rounded-pill'>Submit</button>

      <button type='button' id="login-btn" class='btn btn-success2 rounded-pill'>Login</button>

    </div>
  </form>
</div>


<script src='/js/signup.js'></script>