<div id="sign-up-container" class="container w-25 border py-5">
  <h2 class="font-weight-bold">Sign Up</h2>

  <form action='#' class="form">
    <div class='form-group1'>
      <input
        type='text'
        class='form-control'
        placeholder='First Name'
        name='first name'
      />
    </div>
    <div class='form-group1'>
      <input
        type='text'
        class='form-control'
        placeholder='Last Name'
        name='last name'
      />
    </div>
    <div class='form-group1'>
      <input
        type='email'
        class='form-control'
        placeholder='Email'
        name='email'
      />
    </div>
    <div class='form-group1'>
      <input
        type='password'
        class='form-control'
        name='password'
        placeholder='Password'
      />
    </div>
    <div class='invisible alert-container'>
      <div id='missing-alert' class='alert alert-danger' role='alert'>
         Missing Field
      </div>
    </div>
    <button type='submit' class='btn btn-success rounded-pill'>Submit</button>
  </form>

</div>


<script src='/js/signup.js'></script>